
<div class="main-div" *ngIf="!active_shipper && !active_forwarder && !active_operator && !active_storage">

  <button mat-raised-button color="primary" (click)="activate_shipper()">Shipper</button>

  <button mat-raised-button color="primary" (click)="activate_forwarder()">Freight Forwarder</button>

  <button mat-raised-button color="primary" (click)="activate_operator()">Carrier Operator</button>

  <br/>

  <br/>

  <button mat-raised-button color="secondary" (click)="activate_storage()">Local Storage</button>

</div>

<app-shipper *ngIf="active_shipper" (finished)="finish_procedure($event)"></app-shipper>

<app-forwarder *ngIf="active_forwarder" (finished)="finish_procedure($event)"></app-forwarder>

<app-operator *ngIf="active_operator" (finished)="finish_procedure($event)"></app-operator>

<app-local-storage *ngIf="active_storage" (finished)="finish_procedure($event)"></app-local-storage>
